.state {
  stroke: #fff;
  stroke-width: 0.5px;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  pointer-events: none;
}

body {
    max-width: 960px;
    margin: 1em auto !important;
    padding: 0 1em;
    font: 1.2em/1.62 sans-serif;
    background-color: #ddf;
}

.title * {
    margin: 0;
    text-align: center;
}

.line-plot { cursor: pointer; }
.map { width: 800px; height: 400px; margin-top: 20px; }
